#level2{
    margin-top: 3%;
}
.input-group{
    margin-bottom: 2%;
}
.modal-section{
    display: flex;
    flex-direction: row;
}
#info{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.grade{
    display: flex;
    flex-direction: row;
}
.alert{
    margin: 3% 3%;
}